#wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 100px;
  max-width: 100%;
  padding: 40px;
}

#toggle {
  font-size: 50px;
  display: none;
}

content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.inner {
  display: inline-block;
  display: flex;
}

.inner > div {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 30px;
}

.inner > div > a:nth-child(1) img {
  width: 170px;
}

.inner > div > a:nth-child(2) img {
  width: 300px;
  margin-left: 8px;
}

#wrap_02 {
  width: 950px;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

#wrap_02 > div {
  margin-bottom: 4px;
}

.image {
  overflow: hidden;
}

.image:hover img {
  transform: scale(1.2);
  transition: 1.2s ease-in-out;
}

.image02:hover img {
  transform: scale(1.2);
  transition: 1.2s ease-in-out;
}

.image_center:hover img {
  transform: scale(1.2);
  transition: 1.2s ease-in-out;
}

.content_box {
  position: absolute;
  top: 0;
  left: 0;
  transition: 1.2s ease-in-out;
  opacity: 0;
  width: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.image:hover .content_box {
  opacity: 0.8;
}

.image02:hover .content_box {
  opacity: 0.8;
}

.image_center:hover .content_box {
  opacity: 0.8;
}

.right {
  display: flex;
  width: 100%;
  height: 250px;
  position: relative;
}

.right .image {
  position: relative;
  width: 65%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  margin-right: 4px;
}

.black_img {
  width: 35%;
  min-width: 300px;
  position: relative;
}

.black_img > span {
  color: #fff;
  position: absolute;
  top: 45%;
  right: 45%;
  cursor: pointer;
}

.black_right > span {
  color: #fff;
  position: absolute;
  top: 45%;
  right: 45%;
  cursor: pointer;
}

.left_span {
  color: #fff;
  position: absolute;
  top: 35%;
  left: 35%;
  cursor: pointer;
}

.black_img > img {
  width: 100%;
  height: 250px;
  box-sizing: border-box;
}

.image_center_black {
  position: relative;
}

.center_02_span {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 40%;
  cursor: pointer;
}

.image02 {
  /* width: 35%; */
  min-width: 300px;
  overflow: hidden;
  position: relative;
}

.image02 img {
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  object-fit: cover;
  object-position: right;
  transition: 1.2s;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  opacity: 0;
  transition: 1.2s;
}

.title span:first-child {
  border-right: 1px solid #fff;
  padding-right: 2px;
  font-weight: 800;
}

.title span:last-child {
  padding-left: 5px;
}

.image:hover .title {
  opacity: 1;
  z-index: 999;
}

.image02:hover .title {
  opacity: 1;
  z-index: 999;
}

.image_center:hover .title {
  opacity: 1;
  z-index: 999;
}

.left {
  display: flex;
  width: 100%;
  width: 956px;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.left .image {
  position: relative;
  margin-left: 4px;
  width: 65%;
}

.right_left {
  display: flex;
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
}

.right_left .image {
  position: relative;
  width: 35%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  margin-right: 4px;
}
.right_left .image img {
  width: 100%;
  height: 252px;
  max-width: 100%;
}

.right_left_02 {
  display: flex;
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.right_left_02 .image02 {
  position: relative;
  /* width: 35%; */
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  margin-left: 4px;
}

.right_left_02_span {
  position: absolute;
  top: 45%;
  right: 65%;
  color: #fff;
}

.black_right {
  position: relative;
  width: 650px;
  height: 100%;
  max-width: 100%;
}

.center {
  display: flex;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.image_center {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.image_center img {
  height: 250px;
  object-fit: cover;
  box-sizing: border-box;
  max-width: 100%;
}

.center_02 {
  display: flex;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.center_02.image_center {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.center_02.image_center img {
  width: 475px;
  height: 250px;
  object-fit: cover;
  box-sizing: border-box;
  max-width: 100%;
}

.image .ts {
  width: 650px;
  height: 250px;
}

.image .persona {
  width: 650px;
  height: 250px;
  object-position: left;
  object-fit: cover;
}

.black_img:hover .icon2 {
  display: block;
}

.copyright {
  display: inline-block;
  margin-left: 82%;
}

.top_btn {
  text-align: right;
  margin-bottom: 20px;
}

.copy_txt {
  text-align: right;
  line-height: 1.8;
}

.copy_txt p:first-child {
  font-size: 12px;
  font-weight: 700;
}

.ft_wrap {
  display: inline-block;
  position: fixed;
  bottom: 30px;
  left: 50px;
}

.ft_view > p {
  font-size: 14px;
  font-weight: 800;
  border-bottom: 2px solid #000;
}

.ft_link {
  display: inline-block;
  margin-top: 40px;
}

.ft_link p {
  font-size: 14px;
  font-weight: 800;
  padding: 5px 0;
}

.ft_info {
  margin-left: 30px;
  display: inline-block;
}

.ft_info p {
  font-size: 10px;
  line-height: 1.5;
}

@media screen and (max-width: 1279px) {
  #wrap {
    padding: 0;
    position: relative;
  }
  .inner {
    display: inline-block;
    transition: 1.5s;
    flex-direction: column;
    margin-top: 30px;
    z-index: 9999;
  }

  .inner > div > a:nth-child(2) img {
    display: none;
  }

  #wrap_02 {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 120px;
  }
  #toggle {
    display: block;
  }
  .right {
    display: flex;
    width: 100%;
    height: 250px;
    position: relative;
  }

  .right .image {
    position: relative;
    margin-right: 4px;
    width: 65%;
    height: 100%;
  }

  .right .image img {
    width: 100%;
    height: 100%;
  }

  .black_img {
    width: 35%;
    min-width: 300px;
  }

  .black_img > img {
    height: 250px;
    box-sizing: border-box;
  }

  .left {
    display: flex;
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    margin-top: 4px;
  }

  .left .image {
    position: relative;
    margin-left: 4px;
    width: 65%;
  }

  .left .image img {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }

  .right_left {
    display: blcok;
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
  }

  .right_left .image {
    position: relative;
    width: 100%;
    vertical-align: top;
    box-sizing: border-box;
  }

  .right_left .image img {
    width: 100%;
    height: 252px;
    max-width: 100%;
  }

  .right_left_02 {
    width: 100%;
  }

  .black_right {
    position: relative;
    height: 100%;
    max-width: 100%;
  }

  .image02 {
    /* width: 100%; */
    min-width: 300px;
    overflow: hidden;
    position: relative;
  }

  .image02 img {
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    object-fit: cover;
    object-position: right;
    transition: 1.2s;
    overflow: hidden;
  }

  .center {
    display: flex;
    width: 100%;
    height: 250px;
    overflow: hidden;
  }

  .image_center {
    width: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
  }

  .image_center img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    box-sizing: border-box;
    max-width: 100%;
  }

  .footer {
    display: none;
  }

  .copy_txt {
    display: none;
  }

  /* .ft_wrap_02 {
    display: inline-block;
  }

  .ft_view_02 > p {
    font-size: 14px;
    font-weight: 800;
    border-bottom: 2px solid #000;
  }

  .ft_link_02 {
    display: inline-block;
    margin-top: 40px;
  }

  .ft_link_02 p {
    font-size: 14px;
    font-weight: 800;
    padding: 5px 0;
  }

  .ft_info_02 {
    display: inline-block;
    border: 1px solid red;
  }

  .ft_info_02 p {
    font-size: 10px;
    line-height: 1.5;
  }

  .copyright {
    border: 1px solid red;
    position: absolute;
    left: 10%;
  }

  .footer_02 {
  } */
}

@media (max-width: 766px) {
  content {
    width: 100%;
  }

  .inner > div {
    position: fixed;
    margin-left: 30px;
  }

  #wrap {
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .inner {
    display: inline-block;
    transition: 1.5s;
    flex-direction: column;
    margin-top: 30px;
    z-index: 9999;
  }

  .inner > div > a:nth-child(2) img {
    display: none;
  }

  #wrap_02 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 120px 20px;
  }

  #toggle {
    display: block;
  }

  .right {
    width: 100%;
    height: 280px;
    position: relative;
  }

  .right .image {
    width: 100%;
    height: 250px;
    margin-right: 0;
    overflow: hidden;
  }

  .right .image img {
    width: 100%;
    height: 100%;
  }

  .black_img {
    display: none;
  }

  .left {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
  }

  .left .image {
    position: relative;
    width: 100%;
    margin-left: 0;
  }

  .left .image img {
    width: 100%;
    height: 100%;
  }

  .right_left {
    display: block;
    width: 100%;
    height: 504px;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
  }

  .right_left .image {
    position: relative;
    width: 100%;
    height: 250px;
    vertical-align: top;
    box-sizing: border-box;
    margin-bottom: 4px;
  }

  .right_left .image img {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }

  .image02 {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
  }

  .image02 img {
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    object-fit: cover;
    object-position: right;
    transition: 1.2s;
    overflow: hidden;
  }

  .center {
    display: block;
    width: 100%;
    height: 504px;
    overflow: hidden;
  }

  .image_center {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 4px;
  }

  .image_center img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    box-sizing: border-box;
    max-width: 100%;
  }

  .image_center_black {
    display: none;
  }

  .black_right {
    display: none;
  }

  .title {
    position: absolute;
    top: 98%;
    left: 0;
    opacity: 1;
    color: #000;
    z-index: 999;
  }

  .title span:first-child {
    border-right: 1px solid #000;
    padding-right: 2px;
    font-weight: 800;
  }

  .title span:last-child {
    padding-left: 5px;
  }
}
